$primary-color: #313641;
$secondary-color: #282c34;
$font-color: #BCC8C4;

* {
    color: $font-color;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #313641;
    min-height: 100vh;
}

/* Place this code completely at the end of the file, after all other styles */

.footer {
    background: #282c34;
    position: relative;
    width: 100%;
    padding-top: 1rem;

    p,
    span,
    a {
        color: #616163;
    }
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #32ff77;
}

.MuiDrawer-root.MuiDrawer-root.MuiDrawer-root.side-navbar {
    .MuiPaper-root {
        width: 17rem;
        background: $secondary-color;
        border-right: 1px solid $primary-color;
        position: fixed;
        z-index: 19;
        overflow: visible;
    }

    .side-navbar-trigger {
        position: absolute;
        visibility: visible;
        top: 36vh;
        right: -2rem;
        width: 2rem;
        height: 11rem;
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        border-left: none;
        border-radius: 0 5px 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 20;
    }

    .side-navbar-content {
        padding: 1rem;
    }
}

.service-list-group a {
    background-color: $secondary-color;
    color: $primary-color;
}

.arrow-animation {
    transition: transform 250ms ease;
    font-size: 2rem;

    &.rotated {
        transform: rotate(180deg);
    }
}

.MuiBox-root.MuiBox-root.MuiBox-root {
    &.home-action-box {
        position: absolute;
        top: 57%;
        left: 33%;
        width: 35rem;
        border: 1px solid #BCC8C4;
        border-top: unset;
        padding-top: 11px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: flex-end;
        animation: apear-from-top 1s forwards 1s;
        opacity: 0;

    }

    &.challenge {
        background-color: $secondary-color;
        border-color: rgb(88, 88, 88);

    }
}

.party-member {
    background-color: #1976D2;
    border-radius: 10px;
    box-shadow: #222;
    min-width: 180px;

    .MuiBox-root {
        background-color: $primary-color;
        color: $font-color;

        svg {
            fill: #868a8f;
        }
    }
}

.challenge-meter-track {
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
    height: 8%;
    border-radius: 50px;
    background-color: #535353;
}

#terminal {
    position: absolute;
    top: 30%;
    left: 33%;
    z-index: 10;
    padding: 5px 5px 5px 5px;
    background-color: transparent;
    width: 35rem;
    font-family: 'Fira Mono', 'Consolas', 'Courier New', monospace;
    color: white;
    font-size: medium;
    height: 15rem;
    border: 1px solid #BCC8C4;
    border-radius: 10px;
    overflow-y: hidden;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;


    p {
        min-width: 30rem;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
}

.MuiPaper-root.MuiPaper-root {
    &.spattle-navbar {
        background-color: transparent;
        box-shadow: none;
        //border-bottom: 1px solid #BCC8C4;
        color: #BCC8C4;
    }
}

.MuiButtonBase-root.MuiButtonBase-root.MuiButtonBase-root {
    &.home-action-button {
        position: relative;
        overflow: hidden;
        border-radius: unset;


        &::before {
            content: '';
            position: absolute;
            left: var(--mouse-x, 50%);
            top: var(--mouse-y, 50%);
            transform: translate(-50%, -50%) scale(0);
            width: 200%;
            height: 200%;
            background: #BCC8C4;
            border-radius: 40%;
            transition: transform 0.5s;
            pointer-events: none;
            z-index: -1;
        }

        &:hover {
            color: black;

            &::before {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        &.register {
            border-bottom-right-radius: 10px;
        }
    }

    .MuiButton-label {
        color: black;
    }
}

.open-terminal {
    animation: terminal-slide 1s forwards;
}

.close-terminal {
    animation: terminal-slide 1s reverse forwards;
}

@keyframes terminal-slide {
    0% {
        width: 2rem;
        height: 2rem;
        overflow: hidden;
    }

    50% {
        width: 2rem;
        height: 15rem;
        overflow: hidden;
    }

    99% {
        width: 35rem;
        height: 15rem;
        overflow: hidden;
    }
}


@keyframes apear-from-top {
    0% {
        opacity: 0;
        overflow: hidden;
        top: 55%;
    }

    100% {
        opacity: 1;
        overflow: hidden;
        top: 57%;
    }
}