$primary-color: #313641;
$secondary-color: #282c34;
$font-color: rgb(204, 204, 204);

* {
    color: $font-color;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #313641;
    min-height: 100vh;
}

.footer {
    background: #282c34;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;

    p,
    span,
    a {
        color: #616163;
    }
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #32ff77;
}

.MuiDrawer-root.MuiDrawer-root.MuiDrawer-root.side-navbar {
    .MuiPaper-root {
        width: 17rem;
        background: $secondary-color;
        border-right: 1px solid $primary-color;
        position: fixed;
        z-index: 19;
        overflow: visible;
    }

    .side-navbar-trigger {
        position: absolute;
        visibility: visible;
        top: 36vh;
        right: -2rem;
        width: 2rem;
        height: 11rem;
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        border-left: none;
        border-radius: 0 5px 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 20;
    }

    .side-navbar-content {
        padding: 1rem;
    }
}

.service-list-group a {
    background-color: $secondary-color;
    color: $primary-color;
}

.arrow-animation {
    transition: transform 250ms ease;
    font-size: 2rem;

    &.rotated {
        transform: rotate(180deg);
    }
}

.MuiBox-root.MuiBox-root.MuiBox-root.challenge {
    background-color: $secondary-color;
    border-color: rgb(88, 88, 88);

}

.party-member {
    background-color: #1976D2;
    border-radius: 10px;
    box-shadow: #222;
    min-width: 180px;

    .MuiBox-root {
        background-color: $primary-color;
        color: $font-color;

        svg {
            fill: #868a8f;
        }
    }
}

.challenge-meter-track {
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
    height: 8%;
    border-radius: 50px;
    background-color: #535353;
}